<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CityViewer</title>
      <% include partials/head.ejs %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/photos">Explore</a>
          <a class="navbar-brand" href="/users">Users</a>
          <a class="navbar-brand" href="/photos/new">Post new issue</a>
          <a class="navbar-brand" href="#">Contact</a>
          <button class=" this_btn btn btn-default" type="button" aria-haspopup="true" aria-expanded="false">
          <a href="../users/new" role="button">Sign in </a>
          </button>
      </div>
    </nav>

    <div class="container_home">
      <p>Welcome to CityViewer, a web-based applicaiton designed to keep your city livable</p>
      <a href="/photos" class="btn btn-primary btn_edit">Browse</a>
      <a href="/users/new" class="btn btn-primary btn_edit">Create account</a>
    </div>
  </body>
</html>
