body {
  background-color: white;
  color: black;
  padding-top: 70px;
}

.navbar {
  background-color: #3498DB;

}

.btn_edit {
  margin-top: 10px;
}

.navbar-default .navbar-brand {
    color: #fff;
    padding-left: 0px;
    padding-right: 45px;
    margin: 0px;
}

div.container {
  padding-left: 0px;
  margin: 15px 0px 15px 40px;
}

div.container_home {
  font-family: 'Merriweather', sans-serif;
  font-size: 26px;
  margin: 60px;
  margin-top: 120px;
  color: #2C3E50
}

.container_photos {
  margin-top: 50px;
  margin-left: 50px;
}

.this_btn {
  margin-left: 0px;
}

.jumbotron {
  background-color: #ECF0F1;
  color: #2C3E50;
  padding: 20px;
}

.jumbo_header {
  font-family: 'Merriweather', sans-serif;
  font-size: 26px;
  margin-top: 60px;
  color: #2C3E50
}

.jumbo_descript {
  font-family: 'Merriweather', sans-serif;
  font-size: 18px;
}

.description_span {
  font-weight: bold;
}

.photo_col {
  min-width: 200px;
  max-width: 400px;
}

.users_div {
  display: inline;
  padding: 14px;
}

.active_users {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  padding: 20px;
}

.nav_brand {
  width: 400px;
  height: 50px;
}

.p_input {
  font-weight: bold;
  color: #2C3E50
}
