<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>users home</title>
     <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/photos">Explore</a>
          <a class="navbar-brand" href="/users">Users</a>
          <a class="navbar-brand" href="/photos/new">Post new issue</a>
          <a class="navbar-brand" href="#">Contact</a>
          <button class=" this_btn btn btn-default" type="button" aria-haspopup="true" aria-expanded="false">
          <a href="/users/new" role="button">Sign in </a>
          </button>
      </div>
    </nav>
    <div class="jumbotron">
  <h1 class="jumbo_header">Start improving your city</h1>
  <p class="jumbo_descript">CityViewer empowers you to make your city more safe and accessible by contributing tagged photos that show areas public areas needing improvement. Whether it's a downed stop sign, pothole, debris, you can make a difference and make your city more livable.</p>
  <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Get started</a></p>
</div>

<div class="active_users">
    <h2>Active users in your city</h2>
      <table class="table">
        <% for(let i = 0; i < users.length; i++){ %>
            <td>
            <a href="/users/<%=users[i].id%>">
            <%=users[i].user%>
            </a>
            </td>
        <% } %>
        </div>
      </table>
  </body>
</html>
